@keyframes ldio-hy2rfl7qmhi {
0% {
	opacity: 1;
	backface-visibility: hidden;
	transform: translateZ(0) scale(0.01,0.01);
} 100% {
	opacity: 0;
	backface-visibility: hidden;
	transform: translateZ(0) scale(1,1);
}
}
.ldio-hy2rfl7qmhi div > div {
position: absolute;
width: 56px;
height: 56px;
border-radius: 50%;
background: #93dbe9;
animation: ldio-hy2rfl7qmhi 1s linear infinite;
}.ldio-hy2rfl7qmhi div:nth-child(1) > div {
left: 140px;
top: 72px;
animation-delay: -0.9375s;
}
.ldio-hy2rfl7qmhi > div:nth-child(1) {
transform: rotate(0deg);
transform-origin: 168px 100px;
}.ldio-hy2rfl7qmhi div:nth-child(2) > div {
left: 135px;
top: 98px;
animation-delay: -0.875s;
}
.ldio-hy2rfl7qmhi > div:nth-child(2) {
transform: rotate(22.5deg);
transform-origin: 163px 126px;
}.ldio-hy2rfl7qmhi div:nth-child(3) > div {
left: 120px;
top: 120px;
animation-delay: -0.8125s;
}
.ldio-hy2rfl7qmhi > div:nth-child(3) {
transform: rotate(45deg);
transform-origin: 148px 148px;
}.ldio-hy2rfl7qmhi div:nth-child(4) > div {
left: 98px;
top: 135px;
animation-delay: -0.75s;
}
.ldio-hy2rfl7qmhi > div:nth-child(4) {
transform: rotate(67.5deg);
transform-origin: 126px 163px;
}.ldio-hy2rfl7qmhi div:nth-child(5) > div {
left: 72px;
top: 140px;
animation-delay: -0.6875s;
}
.ldio-hy2rfl7qmhi > div:nth-child(5) {
transform: rotate(90deg);
transform-origin: 100px 168px;
}.ldio-hy2rfl7qmhi div:nth-child(6) > div {
left: 46px;
top: 135px;
animation-delay: -0.625s;
}
.ldio-hy2rfl7qmhi > div:nth-child(6) {
transform: rotate(112.5deg);
transform-origin: 74px 163px;
}.ldio-hy2rfl7qmhi div:nth-child(7) > div {
left: 24px;
top: 120px;
animation-delay: -0.5625s;
}
.ldio-hy2rfl7qmhi > div:nth-child(7) {
transform: rotate(135deg);
transform-origin: 52px 148px;
}.ldio-hy2rfl7qmhi div:nth-child(8) > div {
left: 9px;
top: 98px;
animation-delay: -0.5s;
}
.ldio-hy2rfl7qmhi > div:nth-child(8) {
transform: rotate(157.5deg);
transform-origin: 37px 126px;
}.ldio-hy2rfl7qmhi div:nth-child(9) > div {
left: 4px;
top: 72px;
animation-delay: -0.4375s;
}
.ldio-hy2rfl7qmhi > div:nth-child(9) {
transform: rotate(180deg);
transform-origin: 32px 100px;
}.ldio-hy2rfl7qmhi div:nth-child(10) > div {
left: 9px;
top: 46px;
animation-delay: -0.375s;
}
.ldio-hy2rfl7qmhi > div:nth-child(10) {
transform: rotate(202.5deg);
transform-origin: 37px 74px;
}.ldio-hy2rfl7qmhi div:nth-child(11) > div {
left: 24px;
top: 24px;
animation-delay: -0.3125s;
}
.ldio-hy2rfl7qmhi > div:nth-child(11) {
transform: rotate(225deg);
transform-origin: 52px 52px;
}.ldio-hy2rfl7qmhi div:nth-child(12) > div {
left: 46px;
top: 9px;
animation-delay: -0.25s;
}
.ldio-hy2rfl7qmhi > div:nth-child(12) {
transform: rotate(247.5deg);
transform-origin: 74px 37px;
}.ldio-hy2rfl7qmhi div:nth-child(13) > div {
left: 72px;
top: 4px;
animation-delay: -0.1875s;
}
.ldio-hy2rfl7qmhi > div:nth-child(13) {
transform: rotate(270deg);
transform-origin: 100px 32px;
}.ldio-hy2rfl7qmhi div:nth-child(14) > div {
left: 98px;
top: 9px;
animation-delay: -0.125s;
}
.ldio-hy2rfl7qmhi > div:nth-child(14) {
transform: rotate(292.5deg);
transform-origin: 126px 37px;
}.ldio-hy2rfl7qmhi div:nth-child(15) > div {
left: 120px;
top: 24px;
animation-delay: -0.0625s;
}
.ldio-hy2rfl7qmhi > div:nth-child(15) {
transform: rotate(315deg);
transform-origin: 148px 52px;
}.ldio-hy2rfl7qmhi div:nth-child(16) > div {
left: 135px;
top: 46px;
animation-delay: 0s;
}
.ldio-hy2rfl7qmhi > div:nth-child(16) {
transform: rotate(337.5deg);
transform-origin: 163px 74px;
}
.loadingio-spinner-spin-ei6g117fjj6 {
width: 200px;
height: 200px;
	display: inline-block;
	overflow: hidden;
	background: #f1f2f3;
  }
  .ldio-hy2rfl7qmhi {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
  }
  .ldio-hy2rfl7qmhi div { box-sizing: content-box; }
  /* generated by https://loading.io/ */